{{#push "title"}}
<title>{{i18n 'mail.cashout.subject'}}</title>
{{/push}}

<!-- content start -->
<table class="row">
  <tr>
    <td class="wrapper last">

      <table class="twelve columns">
        <tr>
          <td>

            <h2 class="center">{{{i18n 'mail.cashout.confirmation.congratulations' name}}}</h2>

          </td>
          <td class="expander"></td>
        </tr>
      </table>

    </td>
  </tr>
</table>

<!-- content start -->
<table class="row">
  <tr>
    <td class="wrapper last">

      <table class="twelve columns">
        <tr>
          <td>

            <p class="lead center">{{{i18n 'mail.cashout.confirmation.success' amount}}}</p>

          </td>
          <td class="expander"></td>
        </tr>
      </table>

    </td>
  </tr>
</table>

<table class="row">
  <tr>
    <td class="wrapper last">

      <table class="twelve columns">
        <tr>
          <td>

            <hr />

          </td>
          <td class="expander"></td>
        </tr>
      </table>

    </td>
  </tr>
</table>
