{{#push "title"}}
<title>{{i18n 'mail.cashout.subject'}}</title>
{{/push}}
{{#push "styles"}}
  {{> 'mail_style'}}
  <style type="text/css">
  </style>
{{/push}}

<h2 class="center">{{{i18n 'mail.confirmation.congratulations'}}}</h2>
<h2 class="center">{{{i18n 'mail.confirmation.success' data.firstName}}}</h2>
