<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width"/>
  {{#pop "title"}}{{/pop}}
  {{> 'mail_style'}}
  {{#pop "styles"}}{{/pop}}
</head>
<body style="font-size:14px;line-height:19px;text-align:left;font-weight:normal;font-family:Helvetica, Arial, sans-serif;color:#222222;padding:0;margin:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;min-width:100%;width:100% !important;background:#f7f5f1;" class="eoa_8dx">
  {{{body}}}
</body>
</html>
