{{#push "title"}}
    <title>{{i18n 'brand'}}: {{i18n 'game_meta_title'}}</title>
{{/push}}
{{#push "meta"}}
    <meta name="description" content="{{i18n 'game_meta_desc'}}">
{{/push}}

<div class="webapp-container"></div>

{{#push "scripts"}}
  <script src="{{statics '/scripts/webapp.js'}}"></script>
{{/push}}
