  $footer-top: shade($body-bg, 3%);
  $footer-bottom: lighten($footer-top, 5%);

.site-footer {
  ul {
    margin:0;
  }
}
.site-footer-top {
  padding:15px 0;
  background: $footer-top;
  border-top:1px solid shade($footer-top, 2%);
}

.site-footer-bottom {
  padding:15px 0;
  background: $footer-bottom;
  border-top:1px solid shade($footer-top, 2%);
  border-bottom:1px solid shade($footer-top, 2%);
}
