.site-header {
  .navbar {
    border-width:0 0 1px 0;
  }
  .navbar-brand {
    padding-top:0;
    padding-bottom:0;
    line-height:$navbar-height;
    img {
      vertical-align: middle;
      height:floor(($navbar-height / 2));
    }
  }
  .navbar-nav {
    font-size:16px;
  }
  .navbar-right {
    line-height:$navbar-height;
  }
}


// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
// $grid-float-breakpoint:     $screen-sm-min !default;
//** Point at which the navbar begins collapsing.
// $grid-float-breakpoint-max: ($grid-float-breakpoint - 1) !default;


@media screen and (max-width: $grid-float-breakpoint) {
  .navbar-right {
    .btn {
      @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $border-radius-large);
      display: block;
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      margin-bottom: floor(($navbar-padding-vertical / 2));
    }
  }
}

@media screen and (min-width: $grid-float-breakpoint) {
  .navbar-right {
    .btn {
      margin-left: 5px;
    }
  }
}
