.landing-section {
  padding:50px 0;
  h2 {
    text-transform: uppercase;
    font-size: em(30px);
    letter-spacing: 2px;
    margin-top:0;
    margin-bottom: 20px;
  }
  h3 {
    text-transform: uppercase;
    font-size: em(18px);
    letter-spacing: 1px;
    small {
      font-size: em(18px, 18px);
      color: #206260;
    }
  }
  .desc {
    color:shade($gray-light, 15%);
    line-height: 26px;
    font-weight: 200;
    letter-spacing: 0.6px;
  }
}

.landing-hero {
  background: #13262e;
  h1 {
    color: #fff;
    font-size: em(54px);
    font-weight: 100;
  }
  .play {
    padding-left:70px;
    padding-right:70px;
  }
}


$howitworks-icon-height: 130px;
$howitworks-arrow-height: 23px;
$howitworks-arrow-width: 18px;
$howitworks-border-color: darken($gray-lighter, 7%);
.landing-howitworks {
  background: #fff;
  .see-more {
    text-decoration: none;
    .glyphicon {
      font-size:em(10px);
      top:0px;
    }
  }
  .icon {
    position: relative;
    height: $howitworks-icon-height;
    border-right: 1px solid $howitworks-border-color;

    &:before {
      position: absolute;
      left:100%;
      top:50%;
      margin-top:-$howitworks-arrow-height/2;
      content:"";
      @include triangle($howitworks-arrow-height $howitworks-arrow-width, $howitworks-border-color, right);
    }
    &:after {
      position: absolute;
      left:100%;
      top:50%;
      margin-top:-$howitworks-arrow-height/2;
      margin-left:-2px;
      content:"";
      @include triangle($howitworks-arrow-height $howitworks-arrow-width, white, right);
    }
    &.last {
      border:0 none;
      &:before {
        display:none
      }
      &:after {
        display:none
      }
    }
  }

}

.landing-responsible {
  background: #13262e;
  h2,.desc {
    color:#fff;
  }
}

.landing-global {
  background: #fff;
}

.landing-advertisers {

}

.landing-press {
  padding:20px 0;
  @include linear-gradient(#2A7C77, #216562);
  h2 {
    color:#fff;
    font-size: em(20px);
  }
  .title {
    line-height:80px;
    border-right: 1px solid darken(#216562, 5%);
    box-shadow: 1px 0 0 0 lighten(#2A7C77, 7%);
  }
  .list {
    line-height:60px;
  }
}
