body.winwinwi .site-content {

  h2 {
    text-transform: uppercase;
    font-size: em(30px);
    letter-spacing: 2px;
  }

  .winwinwin-section {
    position: relative;
    margin-top:50px;
    padding-bottom:30px;
    border: 1px solid $howitworks-border-color;
    border-width: 0 0 1px 0;
    &.last {
      border:0 none;
    }
    &:before, &:after {
      display:none;
    }
  }

}
