<div class="row">

  <div class="col-xs-12">
    {{#if alert}}
      <div class="alerts mbl">
        <div class="alert alert-{{alert.type}} mbn" role="alert">
          {{#mergeContexts parent=..}}
            {{{i18n alert.message}}}
          {{/mergeContexts}}
        </div>
      </div>
    {{/if}}
  </div>

</div>
