<footer class='site-footer'>
  <nav class="navbar navbar-inverse mbn">
    <div class='container'>
    {{> 'footer_nav'}}
    {{> 'footer_social'}}
    {{> 'footer_locales'}}
    </div>
  </nav>
</footer>
