<p>
  <a href='/' alt="{{i18n 'brand'}}" title='{{i18n 'header_nav_home'}} {{i18n 'brand'}}'>
    <img src='/images/logos/adillions-inverse.png' alt='adillions' class="img-responsive"/>
  </a>
</p>
<p class="copyright">
@ 2014 {{i18n 'brand'}}
</p>
