<div class='footer-locales text-right'>
  <ul class="list-inline">
    <li>
      <a href="?setLng=en" class="">English</a>
    </li>
    <li>
      <a href="?setLng=fr" class="">Français</a>
    </li>
  </ul>
</div>
