<div class="navbar-right visible-xs mbs">
  <a href="/register" class="btn-block btn-lg btn btn-primary">Register</a>
  <a href="/login" class="btn-block btn-lg btn btn-default">Sign in</a>
</div>
<div class="navbar-right hidden-xs mts mbxs">
  <a href="/register" class="btn btn-primary">Register</a>
  <a href="/login" class="btn btn-default">Sign in</a>
</div>
