<nav class='header-nav'>
  <ul>
    <li class='game'>
      {{i18n 'header_nav_game'}}
    </li>
    <li class='results'>
      {{i18n 'header_nav_results'}}
    </li>
    <li class='charity'>
      {{i18n 'header_nav_charity'}}
    </li>
  </ul>
</nav>
