{{#push "title"}}
    <title>{{i18n 'about_meta_title'}}</title>
{{/push}}

<div class="span10 offset2 ">

        <div class="row-fluid aboutIntro">
             <div id="aboutIntroText">What is Adillions? </div>
        </div>

        <div class="row-fluid">
            <div class="span8 offset2  classictext">
                Adillions is a simple and free lottery game with real cash prizes funded by video advertising
            </div>
        </div>

        <div class="row-fluid">
            <div class="span8 offset2  classictext">
                In a few words, Adillions is:
            </div>
        </div>

        <div class="row-fluid">
            <div class="span8 offset2  classictext">
                <ul>
                    <li class="textli"><strong> : Watch an ad to get your free lottery ticket</strong></li>
                    <li class="textli"><strong> : Pick 5 numbers and choose your Lucky Ball</strong></li>
                    <li class="textli"><strong> : Invite your friends to increase the jackpot</strong></li>
                    <li class="textli"><strong> : Join an international community of players</strong></li>
                    <li class="textli"><strong> : Whether there are winners or not, a part of each video ad finances the Adillions Solidarity &amp; Sustainable Development Fund</strong></li>
                </ul>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span8 offset2  classictext">
                The lottery is drawn every Saturday at 8:00 p.m. (PST) and it is broadcast live online on Youtube. Like any traditional lottery, if nobody wins, the amount accumulates and is added to the next draw (do not hesitate to read our Terms of Use)
            </div>
        </div>

        <div class="row-fluid">
            <div class="span8 offset2  classictext">
                Each time you play on Adillions, you have a chance to win the jackpot and you dedicate few seconds of your day to charitable organizations
            </div>
        </div>

        <!-- ===================================================================================== -->

        <div id="catchMiddle">
            <div class="row-fluid">
                <div class="span8 offset2  subtitleText">
                    Adillions
                </div>
            </div>

            <div class="row-fluid">
                <div class="span8 offset2  subtitleText">
                    Much more than a game
                </div>
            </div>
        </div>

        <!-- ===================================================================================== -->


        <div class="row-fluid aboutIntro">
             <div id="aboutIntroText">Our Vision and Values </div>
        </div>

        <div class="row-fluid">
            <div class="span8 offset2  subtitleText">
                Innovation
            </div>
        </div>

        <div class="row-fluid">
            <div class="span8 offset2  classictext">
                We believe that it is possible to innovate in the gambling market and to disrupt traditional domestic lotteries with a global, social and free game
            </div>
        </div>

        <div class="row-fluid">
            <div class="span8 offset2  classictext">
                Lotteries can be fun and original. With Adillions, you play your favorite lotto numbers and a new item each week depending on the draw theme
            </div>
        </div>

        <div class="row-fluid">
            <div class="span8 offset2  classictext">
                We are eager to develop a simple and user-friendly product used by millions of users across the globe
            </div>
        </div>



        <div class="row-fluid">
            <div class="span8 offset2  subtitleText">
                Social responsibility
            </div>
        </div>

        <div class="row-fluid">
            <div class="span8 offset2  classictext">
                Since long before Christ, lotteries have helped to finance major public projects (build the Great Wall of China, help the poor, finance public school systems, etc.)
            </div>
        </div>

        <div class="row-fluid">
            <div class="span8 offset2  classictext">
                Public interests were part of the game as much as the gambling itself. Today, Adillions brings back lottery game to its true origins
            </div>
        </div>

        <div class="row-fluid">
            <div class="span8 offset2  classictext">
                Adillions and the internet make it possible to gamble and to contribute to a global charitable project at the same time. We want our users to be proud members of Adillions community
            </div>
        </div>

        <div class="row-fluid">
            <div class="span8 offset2  classictext">
                The Adillions team is committed to publish each year a report about Adillions Solidarity &amp; Sustainable Development Fund. Moreover, our final objective is to let our users choose the charitable projects they want to fund
            </div>
        </div>


        <div class="row-fluid">
            <div class="span8 offset2  subtitleText">
                Fairness
            </div>
        </div>

        <div class="row-fluid">
            <div class="span8 offset2  classictext">
                The Adillions team pays a special attention to treat all Adillions players with fairness and equity and to be as transparent as possible with our users and public regulatory agencies
            </div>
        </div>

        <div class="row-fluid">
            <div class="span8 offset2  classictext">
                Adillions defined clear and fair rules:
            </div>
        </div>

        <div class="row-fluid">
            <div class="span8 offset2  classictext">
                <ul>
                    <li class="textli">One account per individual</li>
                    <li class="textli">No prize payment for winners with inaccurate personal information</li>
                    <li class="textli">A limited number of tickets per draw per player</li>
                    <li class="textli">A series of technical procedures to prevent fraud</li>
                    <li class="textli">...</li>
                </ul>
            </div>
        </div>




        <div class="row-fluid">
            <div class="span8 offset2  subtitleText">
                Conclusion
            </div>
        </div>

        <div class="row-fluid marginbottom6">
            <div class="span8 offset2  classictext">
                Our ambition is to develop a game of chance thriving to gather in one place the unique common currency worldwide - Time - and to maximize its value for our players and our charity partners
            </div>
        </div>

        <!-- ===================================================================================== -->


        <div class="row-fluid aboutIntro">
             <div id="aboutIntroText">Team </div>
        </div>

        <div class="row-fluid">
            <div class="span8 offset2  classictext marginbottom2">
                Adillions is based in Paris, France and the team is led by two experienced professionals with complementary skills:
            </div>
        </div>

        <div class="row-fluid">
            <div class="span2 offset2">
                <img class="polaroid rounded" src="/assets/images/website/tim.jpg">
            </div>
            <div class="span6 subtitleText">
                <div class="row-fluid">
                    Timothée de COURLON
                </div>
                <div class="row-fluid">
                    Co-founder
                </div>
                <div class="row-fluid">
                    CEO
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span8 offset2  classictext marginbottom2">
                Timothée brainstormed the original idea for Adillions. He worked in the banking and strategy consulting industries for several years. Today, in his role as CEO, he manages all the business aspects of the project from legal and finance to marketing and communication. Timothée holds a MBA in Finance and Private Equity from ESSEC Business School
            </div>
        </div>

        <div class="row-fluid">
            <div class="span2 offset2">
                <img class="polaroid rounded" src="/assets/images/website/chris2.jpg">
            </div>
            <div class="span6 subtitleText">
                <div class="row-fluid">
                    Christophe DUGNE-ESQUEVIN
                </div>
                <div class="row-fluid">
                    Co-founder
                </div>
                <div class="row-fluid">
                    CTO
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span8 offset2  classictext marginbottom4">
                . Christophe is dedicated to design and develop the best products for Adillions players. Christophe graduated from ENSEIRB where he studied Computer Science and Software Engineering
            </div>
        </div>

    </div>
