{{#push "title"}}
    <title>{{i18n 'jobs_meta_title'}}</title>
{{/push}}

<h1>{{i18n 'jobs'}}</h1>

<p class="lead">{{i18n 'jobs_intro'}}</p>

<p>{{i18n 'jobs_desc'}} <a href="mailto:jobs@adillions.com">jobs@adillions.com</a>.</p>

