// Variables
// --------------------------------------------------

// Import Colors variables
@import '../../bower_components/colors/sass/_variables.scss';

$body-bg: #F5F5F5;
$text-color: #3B4047;

// set fonts location
$icon-font-path : '/fonts/';

$brand-lead: #F14015;

$btn-lead-color: #fff !default;
$btn-lead-bg: $brand-lead !default;
$btn-lead-border: darken($btn-lead-bg, 5%) !default;

// spacing
$spacingXs: 5px;
$spacingS: 10px;
$spacingM: 15px;
$spacingL: 20px;
$spacingXl: 30px;

// navbar
$navbar-height: 80px;
$navbar-default-bg:  #fff;
