.main-sprite, .main-advertisers-boost, .main-advertisers-global, .main-advertisers-multiscreen, .main-howitworks-getticket, .main-howitworks-watchad, .main-howitworks-winprize {
  background: url('/images/sprites/main-s95cf12469a.png') no-repeat;
}

.main-advertisers-boost {
  background-position: 0 0;
  height: 134px;
  width: 134px;
}

.main-advertisers-global {
  background-position: 0 -134px;
  height: 134px;
  width: 134px;
}

.main-advertisers-multiscreen {
  background-position: 0 -268px;
  height: 134px;
  width: 134px;
}

.main-howitworks-getticket {
  background-position: 0 -402px;
  height: 134px;
  width: 134px;
}

.main-howitworks-watchad {
  background-position: 0 -536px;
  height: 134px;
  width: 134px;
}

.main-howitworks-winprize {
  background-position: 0 -670px;
  height: 134px;
  width: 134px;
}

.features-sprite, .features-android-phone, .features-android-tablet, .features-apple-phone, .features-apple-tablet, .features-browser, .features-macbookair {
  background: url('/images/sprites/features-s76e47ebe82.png') no-repeat;
}

.features-android-phone {
  background-position: -324px -182px;
  height: 147px;
  width: 86px;
}

.features-android-tablet {
  background-position: -168px -182px;
  height: 264px;
  width: 156px;
}

.features-apple-phone {
  background-position: -255px 0;
  height: 182px;
  width: 90px;
}

.features-apple-tablet {
  background-position: 0 -182px;
  height: 246px;
  width: 168px;
}

.features-browser {
  background-position: 0 0;
  height: 161px;
  width: 255px;
}

.features-macbookair {
  background-position: 0 -446px;
  height: 276px;
  width: 484px;
}

.logos-sprite, .logos-adillions-ball, .logos-adillions {
  background: url('/images/sprites/logos-s7728c54b49.png') no-repeat;
}

.logos-adillions-ball {
  background-position: 0 -75px;
  height: 96px;
  width: 96px;
}

.logos-adillions {
  background-position: 0 0;
  height: 65px;
  width: 300px;
}
