.main-sprite, .main-balance, .main-bonus, .main-charity, .main-gain-payed, .main-gain, .main-heart, .main-info, .main-invite, .main-money, .main-options, .main-play, .main-players, .main-points, .main-prizes-dollards, .main-prizes, .main-ticket-bonus, .main-ticket-instant, .main-ticket-max, .main-ticket-more-1, .main-ticket-more-2, .main-ticket, .main-watch, .main-winners {
  background: url('/images/sprites/main-s5ecf7c3c6a.png') no-repeat;
}

.main-balance {
  background-position: -126px -141px;
  height: 60px;
  width: 68px;
}

.main-bonus {
  background-position: 0 0;
  height: 62px;
  width: 65px;
}

.main-charity {
  background-position: -121px -68px;
  height: 73px;
  width: 64px;
}

.main-gain-payed {
  background-position: -65px 0;
  height: 68px;
  width: 66px;
}

.main-gain {
  background-position: 0 -1094px;
  height: 106px;
  width: 118px;
}

.main-heart {
  background-position: 0 -988px;
  height: 106px;
  width: 118px;
}

.main-info {
  background-position: 0 -674px;
  height: 103px;
  width: 102px;
}

.main-invite {
  background-position: 0 -1200px;
  height: 115px;
  width: 127px;
}

.main-money {
  background-position: 0 -212px;
  height: 59px;
  width: 68px;
}

.main-options {
  background-position: 0 -141px;
  height: 48px;
  width: 67px;
}

.main-play {
  background-position: 0 -391px;
  height: 87px;
  width: 189px;
}

.main-players {
  background-position: 0 -68px;
  height: 52px;
  width: 50px;
}

.main-points {
  background-position: 0 -1315px;
  height: 120px;
  width: 113px;
}

.main-prizes-dollards {
  background-position: -67px -141px;
  height: 71px;
  width: 59px;
}

.main-prizes {
  background-position: -122px -571px;
  height: 83px;
  width: 75px;
}

.main-ticket-bonus {
  background-position: 0 -571px;
  height: 103px;
  width: 122px;
}

.main-ticket-instant {
  background-position: 0 -295px;
  height: 96px;
  width: 105px;
}

.main-ticket-max {
  background-position: 0 -777px;
  height: 105px;
  width: 109px;
}

.main-ticket-more-1 {
  background-position: 0 -882px;
  height: 106px;
  width: 200px;
}

.main-ticket-more-2 {
  background-position: 0 -478px;
  height: 93px;
  width: 200px;
}

.main-ticket {
  background-position: -50px -68px;
  height: 63px;
  width: 71px;
}

.main-watch {
  background-position: -68px -212px;
  height: 83px;
  width: 97px;
}

.main-winners {
  background-position: -131px 0;
  height: 59px;
  width: 68px;
}

.features-sprite, .features-laptop, .features-mobiles {
  background: url('/images/sprites/features-sac910173cc.png') no-repeat;
}

.features-laptop {
  background-position: 0 0;
  height: 356px;
  width: 569px;
}

.features-mobiles {
  background-position: 0 -366px;
  height: 417px;
  width: 329px;
}

.logos-sprite, .logos-adillions-ball, .logos-adillions, .logos-media1, .logos-media2, .logos-media3, .logos-media4, .logos-media5 {
  background: url('/images/sprites/logos-sba0d7e9adb.png') no-repeat;
}

.logos-adillions-ball {
  background-position: 0 -75px;
  height: 96px;
  width: 96px;
}

.logos-adillions {
  background-position: 0 0;
  height: 65px;
  width: 300px;
}

.logos-media1 {
  background-position: 0 -536px;
  height: 79px;
  width: 115px;
}

.logos-media2 {
  background-position: 0 -359px;
  height: 78px;
  width: 179px;
}

.logos-media3 {
  background-position: 0 -181px;
  height: 79px;
  width: 179px;
}

.logos-media4 {
  background-position: 0 -270px;
  height: 79px;
  width: 179px;
}

.logos-media5 {
  background-position: 0 -447px;
  height: 79px;
  width: 182px;
}
